body {
    font-family: "Playfair Display", serif;
    font-size: 16px; /* Litt økt fontstørrelse */
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

#description {
    font-size: 22px; /* Litt økt fontstørrelse */
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    font-size: 2.7em; /* Litt økt fontstørrelse */
    margin-bottom: 20px;
}

h2 {
    font-size: 1.8em; /* Litt økt fontstørrelse */
    margin-top: 60px;
}

.project-list {
    margin-top: -20px;
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    position: relative;
}

.project-list::before,
.project-list::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #000;
    z-index: 1;
}

.project-list::before {
    top: 0;
}

.project-list::after {
    bottom: 0;
}

.project-list tr {
    position: relative;
}

.project-list tr::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1px;
    background-color: #000;
}

.project-list tr:last-child::after {
    display: none;
}

.project-list th,
.project-list td {
    font-size: 18px; /* Litt økt fontstørrelse */
    padding: 12px 8px;
    text-align: left;
    border: none;
    position: relative;
    background-color: transparent;
}

.clickable-row {
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.clickable-row:hover td::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(190, 169, 169, 0.574);
    z-index: -1;
}

/* Ensure the table takes full width */
table {
    width: 100vw;
    max-width: 100%;
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);
    margin-top: 20px;
    margin-bottom: 20px;
}

/* Adjust column widths and alignment */
.project-list td:first-child {
    width: 60%; /* Juster til 50% for å gi mer plass til den andre kolonnen */
    padding-left: calc((100vw - 68%) / 2);
}

.project-list td:last-child {
    width: 50%; /* Økt bredde for siste kolonne for å unngå linjebryting */
    padding-right: calc((100vw - 60%) / 2);
    white-space: nowrap; /* Forhindrer linjebryting i cellene */
}

@media (max-width: 800px) {
    .project-list td:first-child,
    .project-list td:last-child {
        padding-left: 20px;
        padding-right: 20px;
    }
}
